body{
    background-color: rgb(30, 30, 32);
    min-height: 100vh;
    display: flex;
    overflow: hidden;
    color: rgb(242, 225, 225);
    font-family: Consolas ;
    justify-content: center;
    
}
.main{
    display: flex;
    /* align-items: center; */
    
    
}
.sidebar{
    display: flex;
    height: 100%;
    align-items: center;
}
a{
    text-decoration: none;
    color: white;
}
.sidebar-info{
    display: flex;
    flex-direction: column;
    background-color: rgb(2, 2, 2);
    width: 20vw;
    height: 90%;
    border-radius: 10px;
    align-items: center;
    justify-content: space-between;
}
.photo{
    padding-top: 20px;
    text-align: center;
  
    
}
img{
    width: 162px;
    
    border-radius: 10px;
}
.name{
    font-size: 25px;
    padding-top: 10px;
}
.personal-details{
    width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
    background-color: rgb(36, 36, 36);
    margin-bottom: 9px;
    
}
.personal-details i{
    margin-right:10px;
}
 i{
    background-color: rgb(31, 28, 28);
    padding: 15px;
    font-size: 22px;
    border-radius: 5px;
    /* height: fit-content; */
   
  }
/* .fa-solid{
    background-color: rgb(31, 28, 28);
    padding: 15px;
    margin-right:5px;
    border-radius: 5px;
    
} */
.fa-brands:hover{
    font-size: 150%;
    background-color: #790ce664;
}
.dob,.phone,.email,.address{
    background-color: rgb(19, 19, 21);
    width: 95%;
    /* padding: 20px; */
    border-radius: 5px;
    margin: 10px;
    
    display: flex;
    align-items: center;

    overflow-wrap: break-word;
      word-break: break-word;
    

}




.content{
    display: flex;
    align-items: center;
    height: 100%;
}
.details{
    height: 90%;
    width: 65vw;
    margin-left: 15px;
    background-color: rgb(2, 2, 2);
    border-radius: 10px;
    overflow-y: scroll;
    
}
.details>p{
    
    width: 80%;
}
.details::-webkit-scrollbar{
    display:none;
}
.tabs{
    display: flex;
    flex-direction: column;
    height: fit-content;
    width: 13%;
    margin-left: 15px;
    background-color: rgb(2, 2, 2);
    border-radius: 10px;
    text-align: center;
    justify-content: center;
  
}
.tabs ul{
    display: flex;
    flex-direction: column;
    list-style-type: none;
    font-size: 15px;
    overflow-wrap: break-word;
    word-break: break-word;
    padding: 0px;
    justify-content: center;
    align-items: center;
    
}
.tabs>ul>li{
    width: 80%;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 5px;
    justify-self: center;
}
.tabs>ul>li:hover{
    background-color: #790ce664;
}
button{
    padding:50px;
    box-shadow: 0px 0px 30px 5px rgba(192, 169, 169, 0.3);
}

